body {
	margin: 0;
	padding: 0;
	background-color: #282c34;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.clearfix {
	clear: both;
}

.main,
.trader {
	text-align: center;
}

[class^='MuiPaper-'] {
	margin: 15px;
	padding: 10px;
}

.tile {
	width: calc(50% - 12px);
	padding: 5px;
	float: left;

	&:nth-child(even) {
		border-left: 1px solid #ccc;
	}
	&:nth-child(n + 3) {
		border-top: 1px solid #ccc;
	}
}

.links {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	.link {
		color: #333;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
		padding: 5px 15px;

		&:hover {
			opacity: 0.75;
		}
	}
}
